.bottom { width:960px; margin-top:12px;}
.bottom_box01 { width:959px; background:#5d8dbb; height:76px; text-align:center; color:#fff; line-height:16px;}
.bottom_box01 h1 a,.bottom_box01 h1 { color:#fff; height:18px; line-height:18px; margin-top:10px; margin-bottom:6px;}